.video {
 width: 100%;
 height: 100%;
 position: relative;
 z-index: 0;
 overflow: hidden;
}
.popup{
 position: absolute;
 width: 400px;
 height: 200px;
 right: 30%;
 top: 80%;
 z-index: 999;
 background-color: red;
}