.numKeyboard {
  display: grid;
  max-width: 500px;
  grid-template-columns: repeat(3, 1fr);
}

.extraKeyboard {
  display: grid;
  max-width: 500px;
  grid-template-columns: 2fr 1fr;
}

.keyboard__btn {
  min-width: 50px;
  min-height: 50px;
  display: block;
  margin: 0.5rem 0.5rem;
  font-size: 1rem;
  background-color: transparent;
  border: 0.05rem solid black;
  cursor: pointer;

  &:hover {
    background-color: black;
    color: white;
  }
}

.keyboard__cross {
  position: absolute;
  border: none;
  width: 40px;
  height: 30px;
  font-size: 1rem;
  top: 5%;
  right: 5%;
  cursor: pointer;

  &:hover {
    background-color: black;
    color: white;
  }
}

.keyboard__confirm_enabled,
.keyboard__confirm_disabled {
  width: 250px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
}

.keyboard__confirm_disabled {
  opacity: 0.4;
  border: 0.05rem solid gray;

  &:hover {
    border: 0.05rem solid crimson;
    color: crimson;
    opacity: 1;
  }
}

.keyboard__confirm_enabled {
  opacity: 1;
  border: 0.05rem solid black;

  &:hover {
    background-color: black;
    color: white;
  }
}

.confirm_disabled-active {
  border: 0.05rem solid crimson !important;
  color: crimson;
  opacity: 1 !important;
}

.keyboard__checkbox_wrap {
  width: 250px;
  margin: 5px auto;
}

.keyboard__checkbox {
  background: transparent;
  width: 20px;
  height: 20px;
}

.active {
  background-color: black;
  color: white;
}