.numKeyboard{
 display: grid;
 max-width: 500px;
 grid-template-columns: repeat(3, 1fr);
 button{
  min-width: 50px;
  min-height: 50px;
  display: block;
  margin: 0.5rem 0.5rem;
 }
}
.extraKeyboard{
  display: grid;
  max-width: 500px;
  grid-template-columns: 2fr 1fr;
  button {
   min-width: 50px;
   min-height: 50px;
   display: block;
   margin: 0.5rem 0.5rem;
  }
}
.active{
  background-color: red;
}